<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CRUD Restaurant avec VueJS</title>
    <script src="lib/vue.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div id="app">
          
        <br>       
       
        <div ><input type="text" v-model="input">
           
            <button  v-on:click="getDataFromWebService()">Rechercher</button><br></div>
        
       <h3  >Restaurants :     </h3>
       
                <div class="tab" >
        <table>
                <head>
                <tr>
                <th>Position</th>
                <th>Nom Restaurant</th>
                <th>cuisine</th>
                <th>Modification</th>
                <th>Suppression</th>
                </tr>
                </head>   
                
                <tr v-for="(restaurant, index) in restaurants" >
                        <td>{{index}}</td>
                        <td >
                                {{restaurant.name}}
                        </td>
                        <td>
                                {{restaurant.cuisine}}
                        </td>
                        <td>
                            <button v-on:click="modifier(restaurant)">Modifier</button>    
                        </td>
                        <td>
                            <button v-on:click="supprimer(restaurant)">supprimer</button>    
                        </td>
                 </tr>
            
                
                   
                </table>
                </div>
                <br><br>
                <label>Page size : </label><input type="text" placeholder="10" v-model="pagesize"><button v-on:click="getDataFromWebService()">changer</button>
                <div>
                        <button  v-on:click="pagePrecedente()">precedent</button>   
                        <button  v-on:click="pageSuivante()">suivant</button>
                </div>
                <br><br><br><br><br>   

                <table >
                    <tr>
                        <td>Nom</td>
                        <td><input type="text" placeholder="Tacos" v-model="name"></td>
                    </tr>
                    <tr>
                           <td>Type</td>
                           <td><input type="text" placeholder="mexicaine" v-model="cuisine"></td>
                   </tr>
                   <tr>
                           <td></td>
                           <td> <button v-on:click="ajouter()">Ajouter</button></td>
                   </tr>    
               </table>
            </div>
        </div>   
    </div>
</body>

</html>
